body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-inline: 2em;
}

header h1 {
    margin-right: auto;
}

header nav {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1em;
}

header nav a {
    display: block;
    padding: 1em;
    background-color: #eee;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-inline: 2em;
}

main p {
    text-align:justify;
}

footer {
    display: none;
    /* background: #024410; */
    height: auto;
}

.donation_methods {
    display: flex;
    flex-direction: column;
    gap: 2em;
    text-align: center;
}

.donation_methods .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;

    padding: 0;
    margin: 0;

}

.donation_methods .title {
    background-color: #0000000F;
    color: #000000a9;
    font-weight: 600;
    font-size: 1.2rem;

    padding-block: .5rem;
}

div.donation_methods .btn {
    display: inline-block;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1em;
    height: 2em;
}

.donation_methods .description {
    padding: 2em;
}

.donation_methods #venmo .btn {
    background-color: #3d95ce;
    background-image: url('../images/venmo_logo_white.svg');
    background-size: 50%;
}

.donation_methods #cashapp .btn {
    background-color: #1c1d1f;
    background-image: url('../images/cash_app-dollar-full.svg');

}